In [1]:
import rouge
import pandas as pd

Following Heiko Hotz's "Setting up a Text Summarization Project" with some modification

In [2]:
politics = pd.read_csv('bbc_data/politics.tsv', sep='\t')
politics.head()

,Unnamed: 0,id,article,summary
0,0,1,Former Labour leader Neil Kinnock has officia...,Former Labour leader Neil Kinnock has official...
1,1,2,Tony Blair's feud with Gordon Brown is damagi...,It claims Mr Blair said in November 2003 he wo...
2,2,3,The reported feud between Tony Blair and Gord...,"Mr Bannatyne has previously given Labour £50,0..."
3,3,4,Billions of pounds spent on conflict in Iraq ...,"""How is it that peace has not arrived?,"" the c..."
4,4,5,The leader of the British National Party has ...,Mr Griffin is the twelfth man to be arrested f...

In [3]:
rouge.score(politics['article'], politics['summary'])

{'rouge1': 62.05310923910985,
 'rouge2': 59.96041767461946,
 'rougeL': 36.76785035941422,
 'rougeLsum': 36.757116685063764}